<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onPublishMessage()">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      welcome to hydropoics
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="auth-form">
    <ion-grid>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/dashboard']" expand="block" color="primary">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>