<ion-content class="gradient_background">
  <div class="content">
    <ion-toolbar>
      <h2>Analytics</h2>
    </ion-toolbar>
  </div>
  <ion-item no-lines id="timeframe">
    <ion-label style="color: white">Graph Timeframe</ion-label>
    <ion-select
      (ionChange)="onSelectChange($event)"
      value="{{defaultTimeframeValue}}"
    >
      <ion-select-option
        *ngFor="let option of timeframeOptions"
        value="{{option.value}}"
        >{{option.label}}</ion-select-option
      >
    </ion-select>
  </ion-item>
  <div *ngIf="existingSensors">
    <div *ngIf="deviceIsFertigation">
      <sensor-graph
        [historicalData]="historicalData"
        sensorType="ph"
        [timeframe]="currentTimeframeValue"
        [sensor]="currentDevice.settings.ph"
      ></sensor-graph>
      <sensor-graph
        [historicalData]="historicalData"
        sensorType="ec"
        [timeframe]="currentTimeframeValue"
        [sensor]="currentDevice.settings.ec"
      ></sensor-graph>
      <sensor-graph
        [historicalData]="historicalData"
        sensorType="water_temp"
        [timeframe]="currentTimeframeValue"
        [sensor]="currentDevice.settings.water_temp"
      ></sensor-graph>
    </div>
    <div *ngIf="!deviceIsFertigation">
      <sensor-graph
      [historicalData]="historicalData"
      sensorType="air_temp"
      [timeframe]="currentTimeframeValue"
      [sensor]="currentDevice.settings.air_temp"
    ></sensor-graph>
    <sensor-graph
      [historicalData]="historicalData"
      sensorType="humidity"
      [timeframe]="currentTimeframeValue"
      [sensor]="currentDevice.settings.humidity"
    ></sensor-graph>
    <sensor-graph
      [historicalData]="historicalData"
      sensorType="co2"
      [timeframe]="currentTimeframeValue"
      [sensor]="currentDevice.settings.co2" <!--As of July 22 this does not exist yet-->
    ></sensor-graph>
    </div>
  </div>
  <p *ngIf="!existingSensors && !isLoading" class="text_center" style="color: white">
    No historical data found in this timeframe!
  </p>
  <p *ngIf="isLoading" class="text_center" style="color: white">Loading historical data graphs...</p>
  <ion-spinner *ngIf="isLoading" class="text_center" color="white"></ion-spinner>
</ion-content>
