<ion-content class="gradient_background">
    <div class="content">
      <ion-toolbar>
        <ion-icon button (click) = "navigateToTab('notifications')" style="color:white;" name="arrow-back-outline"></ion-icon>
        <ion-buttons slot="end">
        </ion-buttons>
      </ion-toolbar>
    </div>
    <h1 class="h2_title">
      {{notification.notifHeader}} 
    </h1>
        
    <body>    
       <p style="color:black;">{{notification.notifText}}</p>
            
    </body>

  
  
  
  
   
    
      
      
  </ion-content>
    
  










