<ion-content class="gradient_background">
  <div class="content">
    <ion-toolbar>
      <ion-icon button (click) = "navigateToTab('notifications')" style="color:white;" name="arrow-back-outline"></ion-icon>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </div>
  <h1 class="h2_title">
    {{notification.notifHeader}} 
  </h1>

  
  <body>  

    <div>
      <img class="image" src="https://www.seekpng.com/png/detail/250-2503958_potted-plants-clipart-transparent-background-plant-logo-free.png" width="200" height="200">

      
    </div>   
    
     <p class="clickedNotification-text" style="color:black;">{{notification.body}}</p>  
     
     
     
  
</body>

 
  
    
    
</ion-content>
  











