<ion-card class="dashboard-card">
  <ion-card-content>
    <ion-grid>
      <!--Card Header-->
      <ion-row>
        <ion-item tappable (click)="toggleAccordion()" lines="none">
          <ion-icon slot="start" name="chevron-forward-outline" *ngIf="!isOpen"></ion-icon>
          <ion-icon slot="start" name="chevron-down-outline" *ngIf="isOpen"></ion-icon>
          <h3 fill="clear" class="color">Grow Lights</h3>
        </ion-item>
      </ion-row>
      <!--Card Content-->
      <form [formGroup]="growLightsForm">
        <div *ngIf="isOpen">
        <hr color="grey" />
          <h3>Day and Night Times</h3>
          <ion-row> 
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Lights On</ion-label>
                <ion-datetime displayFormat="h:mm a" placeholder="Select Time" formControlName="lights_on"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row> 
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Lights Off</ion-label>
                <ion-datetime displayFormat="h:mm a" placeholder="Select Time" formControlName="lights_off"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </ion-grid>
  </ion-card-content>
</ion-card>

