<ion-card class="dashboard-card">
  <ion-card-content class="top_bottom_padding">
    <ion-grid>
    
      <ion-row>
        <ion-item tappable (click)="toggleAccordion()" lines="none">
          <ion-icon slot="start" name="chevron-forward-outline" *ngIf="!isOpen"></ion-icon>
          <ion-icon slot="start" name="chevron-down-outline" *ngIf="isOpen"></ion-icon>
          <h3 fill="clear" class="color h3_sensor_title">General Settings</h3>
        </ion-item>
      </ion-row>
    
      <form [formGroup]="generalSettingsForm">
        <div *ngIf="isOpen">
          <hr color="grey"/>
          <div class="group">
            <ion-row>
              <ion-col class="no_padding" size="12">
                <ion-item>
                  <ion-label class="sensor_black_label" position="floating">Device Name</ion-label>
                  <ion-input formControlName="name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="no_padding" size="12">
                <ion-item>
                    <ion-label>Recommended Settings</ion-label>
                    <ion-select #plantSelect placeholder="Plant" formControlName="plant_name" [interfaceOptions]="plantAlertOptions" (ionChange)="addRecommendedSettings(plantSelect.value)">
                      <ion-select-option *ngFor="let plant of plants" [value]="plant">
                        {{ plant.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
              </ion-col>
            </ion-row>
          </div>

        </div>
      </form>
    </ion-grid>
  </ion-card-content>
</ion-card>
