<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Cluster</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient_background">
  <div class="content">
    <form [formGroup]="clusterForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <h2 class="title">Cluster Settings</h2>
          </ion-col>
          <ion-col size="5" class="button_col">
            <ion-button class="add_button" type="submit">Create<ion-icon name="add"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label class="sensor_black_label" position="floating">Cluster Name</ion-label>
                  <ion-input formControlName="cluster_name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>