h2 {
    color: white;
    margin-left: 10px;
    display: inline;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

ion-card-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.title {
    display: inline-block;
}

.add_button {
    display: inline-block;
}

.button_col {
    padding-top: 14px;
}
