.circular-monitor {
    padding: 0px;
    border-radius: 50%;
	position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 104, 0, 0.747);
    margin-top: 5px;
    color: white;
    border: 3px solid greenyellow
}

.circular-monitor:before {
	content: "";
	float: left;
	padding-top: 100%; 	
}

.no-padding {
    padding: 0px;
}

.card_content {
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown {
    margin-left: 10px;
    margin-right: 10px;
    --ion-color-primary-contrast: #000000;
}

ion-content{
    --background:linear-gradient(#2679B9 0%, #196097 15%, #003157 100%) !important;
}

h3 {
    color: white;
}


