.circular-monitor {
    padding: 0px;
    border-radius: 50%;
	position: relative;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 104, 0, 0.747);
    margin-top: 5px;
    color: white;
    border: 3px solid greenyellow
}

.circular-monitor:before {
	content: "";
	float: left;
	padding-top: 100%; 	
}

.no-padding {
    padding: 0px;
}

.card_content {
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown {
    margin-left: 10px;
    margin-right: 10px;
    --ion-color-primary-contrast: #000000;
}

ion-content{
    --background:linear-gradient(#2679B9 0%, #196097 15%, #003157 100%) !important;
}

.title {
    color: white;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.dashboard-card {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

h1 {
    font-weight: 450;
    color: black;
    font-size: 300%;
}

.header-title {
    font-weight: 700;
    color: black;
    font-size: 150%;
    margin:0px;
}

ion-card-header {
    padding: 10px;
}

.check-icon {
    color: green;
}



