<ion-content>
  <div class="content">
 
    <div *ngIf="currentDevice != null">
      <div>
        <h2>Live Sensor Data</h2>
        <h2>{{ timeStamp }}</h2>
      </div>
      <span *ngFor="let sensorSettings of currentDeviceSettings">
        <sensor-display [sensor]="sensorSettings" [allLiveData]="liveData"></sensor-display>
      </span>

      <div>
        <h2>Power Outlets</h2>
      </div>
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-icon name="sunny-outline"></ion-icon>
              <ion-text style="margin-left: 20px;">Grow Light 1</ion-text>
              <ion-toggle slot="end"></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
   
    <div *ngIf="noDevices" class="center">
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1">
            <h6>You have no Hydrotek Devices</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <h6>Click the Create Device Button in the side menu to create a Hydrotek Device</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>



