<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title class="header">{{title}}</ion-title>
  </ion-toolbar> 
</ion-header>
<!--Navigation from one tab to other tab-->
<ion-content padding>
  <ion-tabs>
    <ion-tab-bar color="primary" slot="top"> 
      <!--<ion-tab-button tab="warnings">
        <ion-label class="tab-label">Warnings</ion-label>
      </ion-tab-button>-->
      <ion-tab-button (click)="navigateToTab('monitoring')">
        <ion-label class="tab-label">Monitoring</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToTab('control')">
        <ion-label class="tab-label">Control</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToTab('cameras')">
        <ion-label class="tab-label">Cameras</ion-label>
      </ion-tab-button>
    </ion-tab-bar> 
  </ion-tabs>
</ion-content>









