<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title class="header">{{title}}</ion-title>
  </ion-toolbar> 
</ion-header>
<!--Navigation from one tab to other tab-->
<!-- *ngIf="loaded" -->
<ion-content padding>
  <ion-tabs>
 
    <ion-tab-bar color="primary" slot="top"> 
      <!--<ion-tab-button tab="warnings">
        <ion-label class="tab-label">Warnings</ion-label>
      </ion-tab-button>-->
      <ion-tab-button (click)="navigateToTab('monitoring')"> Monitoring
        <ion-icon name="tv-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToTab('control')"> Control
        <ion-icon name="options-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToTab('analytics')"> Analytics
        <ion-icon name="analytics-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToTab('cameras')">
        <ion-icon name="camera-outline"></ion-icon> Cameras
      </ion-tab-button>
      <ion-tab-button (click)="navigateToTab('notifications')">
        <ion-icon name="notifications-outline"></ion-icon> Notifications
        <ion-badge *ngIf="!onNotification && !noNotifs"  color ='danger'>{{this.unOpened}}</ion-badge> 
      </ion-tab-button>
      <ion-tab-button (click)="navigateToTab('testing')">
        <ion-icon name="bug-outline"></ion-icon> Testing
      </ion-tab-button>
    </ion-tab-bar> 
    <div slot="top">
      <connection-status [mqttStatus]="mqttService.mqttStatus.value"></connection-status>
    </div>
  </ion-tabs>
</ion-content>










