.settings-group {
    margin-top: 10px;
}

.form_invalid_outline{
    border: 1px solid red;
}

.time_unit::after{
    content: "sec";
    color: gray;
}

.ph_unit::after{
    content: "PH";
    color: gray;
}