h2 {
    color: white;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 0px;
    display: inline-block;
}

ion-toolbar{
    --background: transparent;
    padding-top: 8px;
}

ion-item{
    --background: transparent;
}

ion-select{
    color: white;
}

.spinner {
    padding-top: 20px;
}

h6 {
    color: white;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 0px;
    display: inline-block;
}

