<ion-card class="dashboard-card">
  <ion-card-content>
    <ion-grid>
      <!--Card Header-->
      <ion-row>
        <ion-item tappable (click)="toggleAccordion()" lines="none">
          <ion-icon slot="start" name="chevron-forward-outline" *ngIf="!isOpen"></ion-icon>
          <ion-icon slot="start" name="chevron-down-outline" *ngIf="isOpen"></ion-icon>
          <h3 fill="clear" class="color">EC</h3>
        </ion-item>
      </ion-row>
      <!--Card Content-->
      <form [formGroup]="ecForm">
        <div *ngIf="isOpen">
          <hr color="grey" />
          <div class="group">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-checkbox formControlName="monit_only" mode="md"></ion-checkbox>
                  <ion-label>Monitoring Only</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
  
          <div *ngIf="!ecForm.get('monit_only').value" [formGroup]="controlForm"> 
            <ion-row>
              <ion-col size="5">
                <ion-item>
                  <ion-label position="floating">Dosing Time</ion-label>
                  <ion-input formControlName="dose_time" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col offset="1" size="5">
                <ion-item>
                  <ion-label position="floating">Dosing Interval</ion-label>
                  <ion-input formControlName="dose_interv" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <h3>Pumps</h3>
            <div formGroupName="pumps">
              <ion-row formGroupName="pump_1">
                <ion-col size="6">
                  <ion-item>
                    <ion-toggle slot="start" formControlName="enabled"></ion-toggle>
                    <ion-label>Pump 1</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col offset="1" size="5">
                  <ion-item>
                    <ion-input placeholder="ratio (ml/l)" type="number" formControlName="value"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row formGroupName="pump_2">
                <ion-col size="6">
                  <ion-item>
                    <ion-toggle slot="start" formControlName="enabled"></ion-toggle>
                    <ion-label>Pump 2</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col offset="1" size="5">
                  <ion-item>
                    <ion-input placeholder="ratio (ml/l)" type="number" formControlName="value"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row formGroupName="pump_3">
                <ion-col size="6">
                  <ion-item>
                    <ion-toggle slot="start" formControlName="enabled"></ion-toggle>
                    <ion-label>Pump 3</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col offset="1" size="5">
                  <ion-item>
                    <ion-input placeholder="ratio (ml/l)" type="number" formControlName="value"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row formGroupName="pump_4">
                <ion-col size="6">
                  <ion-item>
                    <ion-toggle slot="start" formControlName="enabled"></ion-toggle>
                    <ion-label>Pump 4</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col offset="1" size="5">
                  <ion-item>
                    <ion-input placeholder="ratio (ml/l)" type="number" formControlName="value"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row formGroupName="pump_5">
                <ion-col size="6">
                  <ion-item>
                    <ion-toggle slot="start" formControlName="enabled"></ion-toggle>
                    <ion-label>Pump 5</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col offset="1" size="5">
                  <ion-item>
                    <ion-input placeholder="ratio (ml/l)" type="number" formControlName="value"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
            <h3>Desired Value</h3>
            <ion-row>
              <ion-item lines="none">
                <ion-checkbox formControlName="d_n_enabled" mode="md"></ion-checkbox>
                <ion-label>Different Targets for Day and Night</ion-label>
              </ion-item>
            </ion-row>
            <ion-row *ngIf="controlForm.get('d_n_enabled').value">
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Day Target Value</ion-label>
                  <ion-input formControlName="day_tgt" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Night Target Value</ion-label>
                  <ion-input formControlName="night_tgt" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!controlForm.get('d_n_enabled').value">
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Target Value</ion-label>
                  <ion-input formControlName="tgt" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          <h3>Alarm Settings</h3>
            <ion-row>
              <ion-col size="5">
                <ion-item>
                  <ion-label position="floating">Min</ion-label>
                  <ion-input formControlName="alarm_min" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col offset="1" size="5">
                <ion-item>
                  <ion-label position="floating">Max</ion-label>
                  <ion-input formControlName="alarm_max" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
        </div>
      </form>
    </ion-grid>
  </ion-card-content>
</ion-card>
