<ion-card class="dashboard-card">
  <ion-card-content>
    <ion-grid>
    
      <ion-row>
        <ion-item tappable (click)="toggleAccordion()" lines="none">
          <ion-icon slot="start" name="chevron-forward-outline" *ngIf="!isOpen"></ion-icon>
          <ion-icon slot="start" name="chevron-down-outline" *ngIf="isOpen"></ion-icon>
          <h3 fill="clear" class="color h3_sensor_title">EC</h3>
        </ion-item>
      </ion-row>
      
      <form [formGroup]="ecForm">
        <div *ngIf="isOpen">
          <hr color="grey" />
          <div class="group">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-checkbox formControlName="monit_only" mode="md"></ion-checkbox>
                  <ion-label>Monitoring Only</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
  
          <div *ngIf="!ecForm.get('monit_only').value" [formGroup]="controlForm"> 
            <ion-row>
              <ion-col size="5">
                <ion-item>
                  <ion-label position="floating">Dosing Time</ion-label>
                  <ion-input formControlName="dose_time" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col offset="1" size="5">
                <ion-item>
                  <ion-label position="floating">Dosing Interval</ion-label>
                  <ion-input formControlName="dose_interv" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            
            <h3 class="h3_sensor_title">Pumps</h3>
            <div formGroupName="pumps">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Pump 1 Ratio</ion-label>
                  <ion-input formControlName="pump_1" type="number"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label position="floating">Pump 2 Ratio</ion-label>
                  <ion-input formControlName="pump_2" type="number"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label position="floating">Pump 3 Ratio</ion-label>
                  <ion-input formControlName="pump_3" type="number"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label position="floating">Pump 4 Ratio</ion-label>
                  <ion-input formControlName="pump_4" type="number"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label position="floating">Pump 5 Ratio</ion-label>
                  <ion-input formControlName="pump_5" type="number"></ion-input>
                </ion-item>
              </ion-list>
            </div>

            <h3 class="h3_sensor_title">Desired Value</h3>
            <ion-row>
              <ion-item lines="none">
                <ion-checkbox formControlName="d_n_enabled" mode="md"></ion-checkbox>
                <ion-label>Different Targets for Day and Night</ion-label>
              </ion-item>
            </ion-row>
            <ion-row *ngIf="controlForm.get('d_n_enabled').value">
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Day Target Value</ion-label>
                  <ion-input formControlName="day_tgt" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Night Target Value</ion-label>
                  <ion-input formControlName="night_tgt" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!controlForm.get('d_n_enabled').value">
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Target Value</ion-label>
                  <ion-input formControlName="tgt" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          
          <h3 class="h3_sensor_title">Alarm Settings</h3>
            <ion-row>
              <ion-col size="5">
                <ion-item>
                  <ion-label position="floating">Min</ion-label>
                  <ion-input formControlName="alarm_min" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col offset="1" size="5">
                <ion-item>
                  <ion-label position="floating">Max</ion-label>
                  <ion-input formControlName="alarm_max" type="number"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
        </div>
      </form>
    </ion-grid>
  </ion-card-content>
</ion-card>
