<ion-card class="dashboard-card">
  <ion-card-content>
    <ion-grid class="no_padding">
      <ion-row>
        <ion-col class="no_padding" size="6">
          <h3 class="header-title" lines="none">{{ sensor.display_name }}</h3>
          <ion-item lines="none">
            <h1>{{ currentVal }}{{sensor.sensorUnit}}</h1>
            <ion-icon class="check-icon" name="checkmark-circle"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col offset="1" size="5" class="details no_padding">
            <div *ngIf="!sensor.monit_only">
              <ion-label class="title">Target Value</ion-label>
              <div>
                <ion-icon name="locate-sharp"></ion-icon>
                <ion-label class="value">{{ sensor.tgt }} {{sensor.sensorUnit}}</ion-label>
              </div>
            </div>
            <ion-label class="title">Alarm Settings</ion-label>
            <div>
              <ion-icon name="alarm"></ion-icon>
              <ion-label class="value">{{ sensor.alarm_min + ' - ' + sensor.alarm_max }} {{sensor.sensorUnit}}</ion-label>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
