<form>
  <ion-card class="dashboard-card">
    <ion-card-header>
      <ion-header class="header-title">Temperature</ion-header>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-item lines="none">
              <h1>75&#8451;</h1>
              <ion-icon class="check-icon" name="checkmark-circle"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item lines="none">
            <ion-label>Different Day and Night Target Values</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</form>
