.dashboard-card {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    transition: 0.3s;
}

ion-card-header {
    padding: 10px;
}