<ion-content class="gradient_background">
  <div class="content">
      <div class="margin-top">
         <h2 class="h2_title">Power Outlets</h2>
      </div>
      <ion-card>
        <ion-card-content>
          <ion-list *ngIf="currentDevice.power_outlets.length > 0">
            <div *ngFor="let powerOutlet of currentDevice.power_outlets">
              <power-outlet [data]="powerOutlet" [topicID]="this.currentDevice.topicID"></power-outlet>
            </div>
          </ion-list>
          <div *ngIf="currentDevice.power_outlets.length <= 0">
            <h3 class="text_center gray-text">No Power Outlets in this Device</h3>
            <h3 class="text_center gray-text">Setup Power Outlet in Control Page</h3>
          </div>
        </ion-card-content>
      </ion-card>
  </div>
  <div class="content">
    <div class="margin-top">
       <h2 class="h2_title">Pumps</h2>
    </div>
    <ion-card>
      <ion-card-content>
        <ion-list *ngIf="pumps.length > 0">
          <div *ngFor="let pump of pumps">
            <pump-testing [data]="pump" [topicID]="this.currentDevice.topicID"></pump-testing>
          </div>
        </ion-list>
        <div *ngIf="currentDevice.power_outlets.length <= 0">
          <h3 class="text_center gray-text">No Pumps in this Device</h3>
          <h3 class="text_center gray-text">Setup Pumps in Control Page</h3>
        </div>
      </ion-card-content>
    </ion-card>
</div>
  <div class="content">
    <div class="margin-top">
      <h2 class="h2_title">Sensors</h2>
   </div>
    <span *ngFor="let sensorSettings of currentDeviceSettings">
      <sensor-testing [sensor]="sensorSettings" [allLiveData]="liveData"></sensor-testing>
    </span>
    </div>
</ion-content>



