<ion-content>
  <div class="content">

    <div *ngIf="currentDeviceSettings != null">
      <form [formGroup]="settingsForm">
        <div *ngIf="currentDeviceType == FertigationSystemString">
          <h2>Fertigation System Settings</h2>
          <ph *ngIf="ph" [parentForm]="settingsForm"></ph>
          <ec *ngIf="ec" [parentForm]="settingsForm"></ec>
          <water-temp *ngIf="water_temperature" [parentForm]="settingsForm"></water-temp>
        </div>
        <div *ngIf="currentDeviceType == ClimateControllerString">
          <h2>Climate Controller Settings</h2>
          <air-temperature *ngIf="air_temperature" [parentForm]="settingsForm"></air-temperature>
          <humidity *ngIf="humidity" [parentForm]="settingsForm"></humidity>
        </div>
      </form>
    </div>

    <div *ngIf="noDevices" class="center">
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1">
            <h6>You have no Hydrotek Devices</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <h6>Click the Create Device Button in the side menu to create a Hydrotek Device</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
