<ion-toolbar color="primary">
  <ion-select #growRoomValue slot="start" [interfaceOptions]="growRoomAlertOptions" class="dropdown" [(ngModel)]="growRoomID"
  (ionChange)="changeGrowRoom(growRoomValue.value)">
  <ion-select-option *ngFor="let growRoomVariable of variableManagementService.growRooms" [value]="growRoomVariable">
    {{ growRoomVariable }}</ion-select-option>
</ion-select>
  <ion-select slot="start" [interfaceOptions]="systemAlertOptions" class="dropdown" #systemValue [(ngModel)]="systemID"
  (ionChange)="changeSystem(systemValue.value)">
  <ion-select-option *ngFor="let systemVariable of variableManagementService.systems" [value]="systemVariable">
    {{ systemVariable }}</ion-select-option>
</ion-select>
<ion-button class="save_button" slot="end" (click)="pushData()" [disabled]="!growRoomForm.dirty && !systemsForm.dirty">Push Changes</ion-button>
</ion-toolbar>

<ion-content>
    <div class="content">
      <form [formGroup]="settingsForm">
        <div [formGroup]="systemsForm">
          <h2>System Settings</h2>
          <ph *ngIf="ph" [parentForm]="systemsForm"></ph>
          <ec *ngIf="ec" [parentForm]="systemsForm"></ec>
          <water-temp *ngIf="water_temperature" [parentForm] ="systemsForm"></water-temp>
        </div>
        <div [formGroup]="growRoomForm">
          <h2>Grow Room Settings</h2>
          <air-temperature *ngIf="air_temperature" [parentForm]="growRoomForm"></air-temperature>
          <humidity *ngIf="humidity" [parentForm]="growRoomForm"></humidity>
        </div>
      </form>
    </div>
</ion-content>
