h2, h6 {
    color: white;
    margin-left: 10px;
    display: inline;
}

ion-label {
    color: white;
    margin-left: 10px;
}

.start-button {
    width: max-content;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;;
}

.inline-heading {
    display: inline-block;
}

.inline-button {
    display: inline-block;
    margin-left: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  ion-col {
    text-align: center;
}