<!--selecting menu options-->
<ion-item color="primary">
  <ion-select value="system1"> 
    <ion-select-option value="system1">System1</ion-select-option>
    <ion-select-option value="system2">System2</ion-select-option>
  </ion-select>
  <ion-select value="grow room1">
    <ion-select-option value="grow room1">Grow Room1</ion-select-option>
    <ion-select-option value="grow room2">Grow Room2</ion-select-option>
  </ion-select>
  <ion-icon name="add-outline" slot="end"></ion-icon>
</ion-item>

 